<h2>Edit User</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'form-control',placeholder:"Email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.password_field :password, autocomplete: "new-password",class:'form-control',placeholder:"Add new password: Leave blank if you don't want to change it" %>
    <% if @minimum_password_length %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:'form-control',placeholder:"Confirm new password: 6 characters minimum" %>
  </div>

  <div class="field form-group">
    <%= f.password_field :current_password, autocomplete: "current-password",class:'form-control',placeholder:"Current password to confirm changes" %>
  </div>

  <div class="actions">
    <%= f.submit "Update",class:"btn btn-secondary" %>
  </div>
<% end %>
<br/>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },class:"btn btn-danger", method: :delete %></p>

<%= link_to "Back", :back %>
